.App {
  text-align: center;
  background-color: #070707;
  list-style-type: none;
}

.List-item {
  list-style-type: none;
  color: chartreuse;
  border-style: solid;
  

}

.main-container {
  color: chartreuse;
}


